.hero {
	position: relative;
	background: url("../img/banner.jpg") center/cover no-repeat;
	height: 60vh;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: white;
}

.hero .overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6); /* Opacité assombrie */
}

.hero .container {
	position: relative;
	z-index: 2;
}

.card {
	transition: transform 0.2s ease-in-out;
}

.card:hover {
	transform: translateY(-5px);
}

/* Remplace css tuto */
.items-center {
	display: none;
}
